################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/http_win_client/http_win_client/x64/Debug
/http_win_client/.vs/http_win_client
/http_win_client/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/http_win_client/x64/Debug
