################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/http_win_client/http_win_client/x64/Debug
/http_win_client/.vs/http_win_client
/http_win_client/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/http_win_client/x64/Debug
/WebView2_Client/.vs
/CookieContainer/vcpkg_installed/x64-windows
/CookieContainer/x64/Debug
/WebView2Logger/vcpkg_installed/x64-windows
/WebView2Logger/x64/Debug/WebView2Logger.tlog
/WebView2Logger/x64/Debug
/UnitTestWebView2/vcpkg_installed/x64-windows
/UnitTestWebView2/x64/Debug/UnitTestWebView2.tlog
/UnitTestWebView2/x64/Debug
/WebView2/vcpkg_installed/x64-windows
/WebView2/x64/Debug
/x64/Debug
/SampleApps/.vs/WebViewSolution
/SampleApps/WebView2WTL.Sample/HttpClient/vcpkg_installed/x64-windows
/SampleApps/WebView2WTL.Sample/HttpClient/x64/Debug
/SampleApps/WebView2WTL.Sample/HttpClientTest/vcpkg_installed/x64-windows
/SampleApps/WebView2WTL.Sample/HttpClientTest/x64/Debug
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApp1/.vs/ConsoleApp1
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApp1/ConsoleApp1/bin/Debug
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApp1/ConsoleApp1/obj/Debug
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApp1/packages
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApplication1/.vs/ConsoleApplication1
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApplication1/ConsoleApplication1/vcpkg_installed/x64-windows
/SampleApps/WebView2WTL.Sample/opentelemetry/ConsoleApplication1/ConsoleApplication1/x64/Debug
/SampleApps/WebView2WTL.Sample/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
